<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>todo_list</title>
	<link rel="stylesheet" href="style.css">
	<script src="https://kit.fontawesome.com/3d7d1bcca5.js" crossorigin="anonymous"></script>
	
</head>
<body>
	<div id="container">
		<div id="head">
			<h1>
				TODO LIST
			</h1>
			<div id="tasks_field_and_button">
				<input type="text" id="input" placeholder="add task">
				<button id="add_button" type="submit" class="bover">Add</button>
			</div>
		</div>
		<div class="tasks">
		</div>
		<div id="bottom">
			<!-- <div class="info-tasks">
				<div class="info-titles">
					<p id="tasks_para">task(s): </p>
					<p>completed</p>
					<p>running...</p>
				</div>

				<div class="info-amounts">
					<p id="tasks_amount">0</p>
					<p id="tasks_amount">0</p>
					<p id="tasks_amount">0</p>
				</div>
			</div> -->
			<button id="remove_all" class="bover">Remove All</button>
		</div>
	</div>
	<table>
		<thead>
			<tr>
				<th colspan="2">tasks</th>
			</tr>
		</thead>

		<tbody>
			<th>name</th>
			<th>amount</th>
			<tr>
				<td>ended</td>
				<td id="ended">0</td>
			</tr>

			<tr>
				<td>running</td>
				<td id="running">0</td>
			</tr>

			<tr>
				<td>total</td>
				<td id="total">0</td>
			</tr>

		</tbody>
	</table>
	<script src="script.js"></script>
	

</body>
</html>
