body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	background-color: #555;
}

h1 {
	border-radius: 10px;
	border: solid 2px #1d1d1d;
	padding: 3px;
	font-size: 35px;
	color: #1d1d1d;
}

#container {
	display: flex;
	flex-direction: column;
	background-color: #efe6e6;
	position: relative;
	width: 600px;
	min-height: 500px;
	margin: 10px auto;
	border-style: groove;
	text-align: justify;
	height: auto;
}

input#input{
	border-radius: 5px;
}

#bottom {
	margin-top: auto;
	width: 100%;
	color: #1d1d1d;
	display: flex;
	justify-content: space-around;
}

#head {
	text-align: center;	
}

#tasks_field_and_button {
	display: flex;
	justify-content: space-around ;

}

input#input {
	font-size: 20px;
	width: 80%;
	margin-left: 4px;
	height: 30px;
	color: #1d1d1d;
	text-align: center;
}

#add_button {
	cursor: pointer;
	width: 80px;
	font-weight: bold;
	color: #1d1d1d;
	height: 35px;
	background-color: rgb(145, 216, 90);
}

#remove_all {
	cursor: pointer;
	margin-left: 240px;
	height: 40px;
	background: crimson;
	color: white;
}

#tasks_para {
	color: #1d1d1d;
	font-size: 20px;
}

.text{
	text-align: center;
	font-size: 20px;
	margin: 5px;
	margin-top: 10px;
	width: 85%;
	color: #1d1d1d;
}

.fa-solid{
	width: 100%;
	height: 100%;
}
.icones{
	cursor: pointer;
	color: crimson;
	background: transparent;
	border: 0px;
	width: 10%;
	font-size: 15px;
}

.under_tasks {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: white;
	border-radius: 5px;
	margin: 10px;
	transition: transform 1s;
}

.bover {
	border-radius: 10px;
}

input::placeholder {
	color: #1d1d1d;
}

.checkbox {
	margin-left: 5px;
	width: 20px;
	height: 20px;
	margin-top: 10px;
}

.under_tasks:hover {
	transform: scale(1.025);
}

.active{
	background-color: white;
	text-decoration: none;
}

.active button{
	visibility: visible;
}

.inactive{
	background-color: grey;
	text-decoration: line-through;
}

.inactive button{
	visibility: hidden;
}

.info-amounts,
.info-titles{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

table{
	border-collapse: collapse;
	text-align: center;
	width: 25%;
	background-color: white;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

th,
thead,
td{
	border: .5px solid black;
}
